.taskbar{
    background-color: #5178AE;
    font-family:  'Beaufort for LOL';
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 10%;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
.taskbar h1{
    margin-left: 25px;
    text-shadow: -3px 2px 1px rgba(0, 0, 0, 0.4);
}
.taskbar input{
    margin-left: 250px;
    width: 20%;
    background-color: white;
    border: none;
    color: black;
    height: 20%;
    font-size: large;
}
.taskbar button{
    background-color: #5178AE;
    font-size: 25px;
}
.create-b{
    position: relative;
    margin-left: 75px;
    text-shadow: -3px 2px 1px rgba(0, 0, 0, 0.4);
}
.home-b{
    position: relative;
    margin-left: 20%;
    text-shadow: -3px 2px 1px rgba(0, 0, 0, 0.4);
}