
.post-gallery{
    position: static;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
}
.post{
    width: 100%;
    background-color: #BE9F74;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.post *{
    margin-left: 3%;
}
.post p, .post h1, .post h2, .post h3, .post h4, .post h5, .post h6 {
    margin-left: 0; /* Reset the margin */
}
.sort{
    position: static;
    width: 33%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.sort button{
    height: 10%;
    margin-left: 5%;
}
.time-pressed{
    background-color: #185D76;
}
.time{
    background-color: #5178AE;
}
.upvote{
    background-color: #5178AE;
}
.upvote-pressed{
    background-color: #185D76;
}